
<h2> Description </h2>
<h1><%= @post.description%> </h1>
<p>Created by <%=@post.user.name %></p>

<p><%= link_to "Already done?", post_path(@post), method: :delete, data: {confirm: "you sure you completed it?"} %></p>
